Source: geotoad
Section: utils
Priority: optional
Maintainer: Steve Sixty-Four <steve8x8@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.6

Package: geotoad
Architecture: all
Depends: ruby (>= 1.9) | ruby1.9 | ruby1.9.1 | ruby1.9.2 | ruby1.9.3, libopenssl-ruby, ${shlibs:Depends}, ${misc:Depends}
Recommends: gpsbabel
Description: geocaching query tool
 GeoToad is software to help speed up the boring part of geocaching:
 choosing the cache and collecting the data.
 GeoToad lets you perform queries against the Geocaching website,
 and export the matching geocaches to numerous devices and over
 20 file formats.
 Unfortunately, Geocaching.com frequently change the format of their
 webpages, resulting in GeoToad malfunctioning.
 For this reason, there will probably never be a stable package.
 Better use the latest SVN:
 svn checkout http://geotoad.googlecode.com/svn/trunk/ geotoad-read-only
