/tests
/tools/build/VERSION
/tools/build/*/
/tools/build/geotoad-*
/tools/build/geotoad_*
/tools/build/md5sums.*
/tools/build/Packages.*
*-v
/contrib/CA_Bundle/cacert.pem
/data/notes.txt
*.orig
*.rej
*.ORIG
*.SAVE
