Source: geotoad
Section: utils
Priority: optional
Maintainer: Steve Sixty-Four <steve8x8@googlemail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Vcs-Git: https://github.com/steve8x8/geotoad.git
Homepage: https://github.com/steve8x8/geotoad/wiki

Package: geotoad
Architecture: all
Depends: ruby (>= 1.9.1) | ruby-interpreter (>= 1.9.1), libruby | libopenssl-ruby
Recommends: gpsbabel
Description: geocaching query tool
 GeoToad is software to help speed up the boring part of geocaching:
 choosing the cache and collecting the data.
 GeoToad lets you perform queries against the Geocaching website,
 and export the matching geocaches to numerous devices and over
 20 file formats.
 Unfortunately, Geocaching.com frequently change the format of their
 webpages, resulting in GeoToad malfunctioning.
 For this reason, there will probably never be a stable package.
