#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	if [ ! -f ChangeLog.txt ] ; then echo '(empty)' > ChangeLog.txt ; fi
	-rm -rf tools/build/
	mv -f geotoad.rb geotoad
	dh_installdirs usr/bin usr/share/geotoad
	dh_install geotoad usr/bin
	dh_install contrib data interface lib templates tools usr/share/geotoad

# there's no python inside, keep dh silent
override_dh_pysupport:
